<script type = "javascript">
$(document).ready(function(){


   $(".acey").acedInitTA({theme: 'dawn', mode: 'markdown'});

 });
 </script>

<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>

  <div class="field"  >
    <%= f.text_area :content, :placeholder => "Content", :class => "acey", :style => "width:600px;" %>
  </div>
</br>

 
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
