<p id="notice"><%= notice %></p>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
        :autolink => true,:lax_spacing => true, :fenced_code_blocks => true) %>
<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw markdown.render(@page.content) %>
</p>

 <%= link_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_page_path(@page) %>
